/* General Styles */
body {
  font-family: cursive, sans-serif;
  background-color: #f5f294;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Button Search*/
.btnRefresh{
    outline: none;
    border: none;
    width: 70px;
    height: 33px;
    padding: 10px 24px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
    background-color: #2f2f34;
    border-radius: 8px;
    transition-duration: 0.4s;
    position: absolute; right: 0;
    margin-top: 9px;
    margin-right: 180px;
}

.btnRefresh:hover{
    background-color: #717375; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnRefresh:active{
    background-color: #252527;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Button Signout*/
.btnSignout{
    outline: none;
    border: none;
    width: 150px;
    padding: 8px 20px;
    position: absolute; right: 0;
    margin-top: 7px;
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #2f2f34;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.btnSignout:hover{
    background-color: #717375; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnSignout:active{
    background-color: #252527;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Button Create*/
.btnCreate{
    outline: none;
    border: none;
    width: 100px;
    padding: 10px 24px;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #0b1bcc;
    border-radius: 8px;
    transition-duration: 0.4s;
    position: absolute; right: 66.5%;
}

.btnCreate:hover{
    background-color: #639fe9; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnCreate:active{
    background-color: #0a015c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Button Auth*/
.btnAuth{
    outline: none;
    border: none;
    width: 150px;
    padding: 10px 24px;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #0b1bcc;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-left: 25px;
    position: absolutek; 
}

.btnAuth:hover{
    background-color: #639fe9; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnAuth:active{
    background-color: #0a015c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Button Edit*/
.btnEdit{
    outline: none;
    border: none;
    width: 200px;
    padding: 10px 24px;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #04a009;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.btnEdit:hover{
    background-color: #1aef56; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnEdit:active{
    background-color: #02552e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Button Delete*/
.btnDelete{
    outline: none;
    border: none;
    width: 100px;
    padding: 10px 24px;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #d33007;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.btnDelete:hover{
    background-color: #e95f47; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnDelete:active{
    background-color: #822805;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Submit Button*/
.btnSubmit{
    outline: none;
    border: none;
    width: 200px;
    padding: 10px 24px;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #0b1bcc;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-left: 25px;
}

.btnSubmit:hover{
    background-color: #639fe9; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnSubmit:active{
    background-color: #0a015c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Pagination Button*/
.btnNext{
    outline: none;
    border: none;
    width: 100px;
    padding: 10px 24px;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #9b9939ce;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-left: 25px;
    position: absolute; right: 66%;
}

.btnNext{
    background-color: #f5e61d; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.btnNext:active{
    background-color: #615d21;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btnPrev{
  outline: none;
  border: none;
  width: 100px;
  padding: 10px 24px;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #9b9939ce;
  border-radius: 8px;
  transition-duration: 0.4s;
  margin-left: 25px;
  position: absolute; left: 66%;
}

.btnPrev{
  background-color: #f5e61d; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
}

.btnPrev:active{
  background-color: #615d21;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*table*/
.table{
    border-collapse: collapse;
    width: 50%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: #b7b6a6;
  } 


.thead{
    background-color: #179e6c;
    color: white;
    text-align: center;
}

/*Home*/
.btnCard{
    width: 300px;

    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.header {
    background-color: #4875e7;
    height: 50px;
    color: white;
  }


.footer {
    position: block;
    width: 100%;
    left: 0;
    bottom: 0;
    color: rgb(247, 243, 243);
    text-align: center;
    background-color: rgb(81, 86, 81);
  }

/*Search*/
  .search {
    width: 50%;
    align-items: center;
    height: 10px;
    position: relative;
    display: flex;
    margin-left: 650px;
    
  }
  
  .searchTerm {
    margin-top: 80px;
    width: 50%;
    border: 3px solid #676c6d;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #1f1f1f;
  }
  
  .searchTerm:focus{
    color: #666b6c;
  }
  
  
/*update*/

/*create*/
.content{
    font-family: cursive, sans-serif;
    color: black;
    align-content: center;
    height: 600px;
    padding: 10px;
    
}

.label{
    color: red;
    font-size: 12px;
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-left: 25px;
}

* {
    box-sizing: border-box;
  }
  
  input, select, textarea {
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 25px;
  }

  .ilabel{
    margin-left: 30px;
}

.Alabel{
      display: block;
      height: 50px;
      width: 20%;
      background-color: rgba(255, 255, 255, 0.07);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;
}

/* Header */
.header {
  background-color: #eadf41;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.header h2 {
  margin: 0;
}

/* Footer */
.footer {
  background-color: #252527;
  color: #f7f7f7;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
}
  